<div class="welcome-content">
        <h1>About This StoryMap</h1>
        <p>This is Davey Resource Groups's customizable cascading Template. <br>
            All colors and images are customizable. <br>
            There are a variety of basemap options displayed here, and the styling and colors of the map may be
            customizable as well.</p>
    </div>